<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo</title>
    <style>
      .title {
        text-align: center;
      }
      form {
        text-align: center;
      }
      .addBtn {
        background-color: navy;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 15px;
        height: 20px;
      }
      .deleteBtn {
        background-color: red;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
      }
      .taskBtn {
        background-color: blue;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
      }
      .taskCompleted {
        text-decoration: line-through;
        border-color: #fff;
      }
      .box {
        background-color: red;
        height: 20px;
        width: 20px;
        border: none;
      }
    </style>
  </head>
  <body>
    <h1 class="title">Todo Application</h1>
    <form action="/add-todo" method="post">
      <input type="text" name="todo" placeholder="Enter todo" />
      <button type="submit" class="addBtn">Add</button>

      <% items.forEach((item,index)=>{ %>

      <li class="<%= item.completed ? 'taskCompleted' : 'taskIncomplete' %>">
        <%= item.label %>
        <button
          formaction="/remove-todo"
          type="submit"
          value="<%= index %>"
          name="delete"
          class="deleteBtn"
        >
          Delete
        </button>

        <button
          formaction="/task-completed"
          type="submit"
          value="<%= index %>"
          name="id"
          class="taskBtn"
        >
          <%= item.completed ? 'Incomplete' : 'Completed' %>
        </button>
      </li>
      <% }) %>
    </form>
  </body>
</html>
